@page "/about"

<div id="about">
    <h1>About</h1>
    <hr />
    <div class="row mb-3">
        <div class="col-md-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet metus aliquet, ullamcorper orci vel, facilisis elit. 
            Duis sed aliquet urna. Praesent dictum, quam vel lobortis molestie, metus eros euismod tellus, non faucibus enim lacus a lectus. 
            Maecenas viverra et sem in rutrum. Nulla facilisi. Aenean a placerat ligula. Donec ullamcorper molestie imperdiet. 
            Nulla ante nunc, elementum ac nisi non, tincidunt sodales nisl. 
            Vestibulum porta, arcu mattis porttitor sollicitudin, lacus tellus egestas ex, ut egestas mauris sapien in nunc. 
            Etiam nec ultrices dui. Maecenas dictum quis nunc id dignissim. Nulla lobortis est at nunc bibendum interdum. 
            Duis eu ante eget ex cursus mollis. Cras aliquam lorem fermentum, imperdiet arcu ac, hendrerit ante. 
            Praesent at elit suscipit neque sagittis mollis vehicula id nunc.
        </div>
    </div>
</div>