@page "/about"

<div id="about">
    <h1>About</h1>
    <hr />
    <p>
        Praesent vel tortor id tortor posuere tincidunt. Morbi vitae mauris faucibus, fermentum elit in, rutrum turpis. 
        Nullam interdum metus et quam vulputate hendrerit. Pellentesque mi est, congue at accumsan sed, ornare sit amet nulla. 
        Pellentesque vel leo diam. Integer faucibus sem ut mauris aliquam gravida. Sed ornare urna eget dui fringilla vehicula. 
        In feugiat pretium facilisis. Fusce ut iaculis elit. Vestibulum vulputate nisl nulla, non lacinia magna fringilla ac. 
        Vestibulum rutrum iaculis odio non tincidunt. Pellentesque diam nisi, accumsan vel scelerisque egestas, consectetur varius ante. 
        Quisque nec erat sit amet quam interdum semper. 
    </p>
    <p>
        Etiam finibus hendrerit auctor.
        Etiam ac est semper, consequat eros nec, scelerisque leo. Phasellus id suscipit nunc. In mauris ligula, feugiat sed lobortis nec, semper tristique sapien.
        Vivamus condimentum fermentum felis, eu dapibus mauris aliquet et. Ut convallis quam auctor orci convallis feugiat. Donec aliquet vulputate blandit.
        Phasellus luctus, nunc nec posuere fermentum, dolor turpis bibendum purus, sed ullamcorper ipsum enim ac metus. Nulla a varius dui, ut semper dolor.
        Morbi ac scelerisque tortor, id sagittis mi. Donec nunc magna, maximus a rhoncus a, accumsan non enim. Aliquam odio turpis, luctus non tincidunt id, hendrerit in mi.
        Vivamus a aliquam nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla facilisi.
        Vestibulum eu sapien quis sapien consectetur sagittis.
    </p>
    <p>
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Vestibulum pretium maximus neque at auctor. Etiam fringilla lorem urna, porttitor commodo mauris finibus eu.
        Integer sit amet sem urna. Phasellus ipsum neque, sollicitudin tempor feugiat sit amet, dignissim eu turpis.
        Donec consectetur arcu vitae justo laoreet, commodo vehicula ante maximus. Sed commodo, enim dapibus finibus porta, massa nulla mattis odio, quis dignissim ex nibh at sem.
        Nullam eget vestibulum tortor. Pellentesque consequat, mi nec tempus placerat, purus libero volutpat ex, fermentum tincidunt velit libero eu neque.
        Curabitur nec lorem dignissim, tempor ipsum vel, mattis felis.
    </p>
</div>