<a href="@GetMediaUrl()">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        @if (!string.IsNullOrWhiteSpace(Media.Title))
        {
            <p>@Media.Title</p>
        }
        @if (!string.IsNullOrWhiteSpace(Media.Name))
        {
            <p>@Media.Name</p>
        }
        <div class="image-parent">
            <img src="@GetImagePath()" class="img-fluid rounded">
        </div>
    </li>
</a>