<a href="@GetMediaUrl()" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
        @if (!string.IsNullOrWhiteSpace(Media.Title))
        {
            <h5 class="mb-1">@Media.Title</h5>
        }
        @if (!string.IsNullOrWhiteSpace(Media.Name))
        {
            <h5 class="mb-1">@Media.Name</h5>
        }
        <small>@Media.Media_Type</small>
    </div>
</a>