@page "/"

<div id="home">
    <h1>Home</h1>
    <hr />
    <UpcomingMovies HeaderText="Upcoming Movies" />
    <OnTheAirTV HeaderText="On The Air TV Shows" />
    <PopularPeople HeaderText="Popular People" />
</div>