@page "/"

<div id="home">
    <div class="row">
        <div class="col-md-8">
            <TrendingMediaCarousel />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="media-wrapper">
                <h3 class="mb-3"><a href="@($"/movies/upcoming")">Upcoming Movies</a></h3>
                <div class="row flex-row flex-nowrap overflow-auto">
                    @foreach (var movie in UpcomingMovies)
                    {
                        <DisplayMovie Movie="@movie" />
                    }
                </div>
            </div>
            <div class="media-wrapper">
                <h3 class="mb-3"><a href="@($"/tv-shows/popular")">Popular TV Shows</a></h3>
                <div class="row flex-row flex-nowrap overflow-auto">
                    @foreach (var tvShow in PopularTVShows)
                    {
                        <DisplayTV TVShow="tvShow" />
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <RecentlyViewed />
        </div>
    </div>
</div>