<div id="media-table">
    <p>Your search on '@SearchQuery' resulted in @TotalResults hit(s)</p>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                @foreach (var media in Results)
                {
                    <DisplayMedia Media="media" />
                }
            </ul>
        </div>
        <div class="col-md-4">
            <div class="media-table-filter">
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Show results for</strong>
                        <hr />
                        <p><a href="#">All</a></p>
                        <p><a href="#">Movies</a></p>
                        <p><a href="#">TV Shows</a></p>
                        <p><a href="#">People</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <Pagination TotalPages="TotalPages" />
</div>