<div id="media-table">
    <p>Your search on '@SearchQuery' resulted in @TotalResults hit(s)</p>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title/Name</th>
                <th scope="col">Type</th>
                <th scope="col">Release</th>
                <th scope="col">Rating</th>
                <th scope="col">Vote Count</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var media in Results)
            {
                <DisplayMedia Media="media" />
            }
        </tbody>
    </table>
    <p>Page @CurrentPage of @TotalPages</p>
    <nav>
        <ul class="pagination">
            @if (CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" @onclick="HandlePrevBtn">Previous</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            }

            @if (CurrentPage < TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" @onclick="HandleNextBtn">Next</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>