<div class="search-filter">
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Show results for</strong>
            <hr />
            <p><a href="#">All</a></p>
            <p><a href="#">Movies</a></p>
            <p><a href="#">TV Shows</a></p>
            <p><a href="#">People</a></p>
        </li>
    </ul>
</div>