<p>Page @SearchState.Page of @SearchState.TotalPages</p>
<nav>
    <ul class="pagination">
        @if (SearchState.Page > 1)
        {
            <li class="page-item">
                <a class="page-link" @onclick="() => SearchState.SetPage((SearchState.Page - 1))">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
        }

        @if (SearchState.Page < SearchState.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" @onclick="() => SearchState.SetPage((SearchState.Page + 1))">Next</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
        }
    </ul>
</nav>