@page "/search"

<div id="search-list">
    <h1>Search</h1>
    <hr />
    @if (!string.IsNullOrEmpty(SearchState.Query))
    {
        <p>Your search on '@SearchState.Query' resulted in @SearchState.TotalResults @DisplayFilter() match(es)</p>
        <div class="row">
            <div class="col-md-2">
                <SearchFilter />
            </div>
            @if (SearchState.Results.Count() is not 0)
            {
                <div class="col-md-10">
                    <ul class="list-group">
                        @foreach (var media in SearchState.Results)
                        {
                            <DisplayMedia Media="media" />
                        }
                    </ul>
                    <Pagination />
                </div>
            }
        </div>
    }
</div>