@using MovieApp.Web.Enums

<div id="search-filter">
    <div class="card">
        <h5 class="card-header">Filter</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a @onclick="@(() => SearchState.SetFilter(SearchFilterType.All))">All</a>
            </li>
            <li class="list-group-item">
                <a @onclick="@(() => SearchState.SetFilter(SearchFilterType.Movies))">Movies</a>
            </li>
            <li class="list-group-item">
                <a @onclick="@(() => SearchState.SetFilter(SearchFilterType.TV))">TV Shows</a>
            </li>
            <li class="list-group-item">
                <a @onclick="@(() => SearchState.SetFilter(SearchFilterType.People))">People</a>
            </li>
        </ul>
    </div>
</div>