<div id="search-results">
    <p>Your search on '@Query' resulted in @TotalResults hit(s)</p>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                @foreach (var media in Results)
                {
                    <DisplayMedia Media="media" />
                }
            </ul>
        </div>
    </div>
</div>