<div id="search-results">
    <p>Your search on '@Query' resulted in @TotalResults hit(s)</p>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                @foreach (var media in Results)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @if (!string.IsNullOrEmpty(media.Poster_Path))
                        {
                            <div class="image-parent">
                                <img src="@media.Poster_Path" class="img-fluid">
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(media.Profile_Path))
                        {
                            <div class="image-parent">
                                <img src="@media.Profile_Path" class="img-fluid">
                            </div>
                        }
                </li>
                }
            </ul>
        </div>
    </div>
</div>