@page "/search"

<div id="search-list">
    <h1>Search</h1>
    <hr />
    @if (!string.IsNullOrEmpty(SearchState.Query))
    {
        <p>Your search on '@SearchState.Query' resulted in @SearchState.TotalResults hit(s)</p>
        @if (SearchState.Results.Count() is not 0)
        {
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-group">
                        @foreach (var media in SearchState.Results)
                        {
                            <DisplayMedia Media="media" />
                        }
                    </ul>
                </div>
                <div class="col-md-4">
                    @*<SearchFilter />*@
                </div>
            </div>
            <Pagination />
        }
    }
</div>