@inject IJSRuntime jsRuntime

<div class="py-3">
    <input type="text" @bind="Message" />
    <button class="btn btn-orange" @onclick="ShowAlert">Show Alert</button>
</div>

@code {
    public string Message { get; set; } = "";

    private void ShowAlert()
    {
        ((IJSInProcessRuntime)jsRuntime).InvokeVoid("showAlert", Message);
    }
}