@page "/search"

<div id="search-list">
    <h1>Search</h1>
    <hr />
    @if (!string.IsNullOrEmpty(SearchState.Query))
    {
        <div class="row">
            <div class="col-md-3">
                <SearchFilter />
            </div>
            @if (SearchState.Results.Count() is not 0)
            {
                <div class="col-md-9">
                    <div class="row flex-row">
                        @foreach (var media in SearchState.Results)
                        {
                            <DisplayMedia Media="media" />
                        }
                    </div>
                    <Pagination Page="@SearchState.Page" TotalPages="@SearchState.TotalPages" OnPageChanged="HandlePageChanged" />
                </div>
            }
        </div>
    }
    else
    {
        <div class="mt-4 text-center">
            <h3>No search results could be found, try again.</h3>
        </div>
    }
</div>