<div id="search-filter" class="mb-3">
    <div class="card">
        <h5 class="card-header">Filter</h5>
        <div class="card-body">
            @foreach (var filter in FilterOptions)
            {
                @if (filter == SearchState.Filter)
                {
                    <button class="btn active" @onclick="@(() => SearchState.SetFilter(filter))">@filter.ToString()</button>
                }
                else
                {
                    <button class="btn" @onclick="@(() => SearchState.SetFilter(filter))">@filter.ToString()</button>
                }
            }
        </div>
    </div>
</div>