@page "/search"

<div id="search-list">
    @if (!string.IsNullOrEmpty(SearchState.Query) && SearchState.Results.Count() is not 0)
    {
        <div class="row">
            <div class="col-md-3">
                <SearchFilter />
            </div>
            <div class="col-md-9">
                <div class="row flex-row">
                    @foreach (var media in SearchState.Results)
                    {
                        <DisplayMedia Media="media" />
                    }
                </div>
                <Pagination Page="@SearchState.Page" TotalPages="@SearchState.TotalPages" OnPageChanged="HandlePageChanged" />
            </div>
        </div>
    }
    else
    {
        <div class="text-center">
            <h3 class="mt-0">No search results could be found, try again.</h3>
        </div>
    }
</div>