 @page "/tv-shows/{id}/season/{number}"

<div id="season-details-table">
    <h1>@SeasonDetails.Name</h1>
    <hr />
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Episode Number</th>
                <th scope="col">Name</th>
                <th scope="col">Air Date</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var episode in SeasonDetails.Episodes)
            {
                <DisplayEpisode Episode="episode" />
            }
        </tbody>
    </table>
</div>