 @page "/tv-shows/{id}/season/{number}"

<div id="season-details-table">
    <h1>@TVShowDetails.Name - @SeasonDetails.Name</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <p>@SeasonDetails.Overview</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                @foreach (var episode in SeasonDetails.Episodes)
                {
                    <DisplayEpisode Episode="episode" />

                }
            </ul>
        </div>
    </div>
    <a href="@($"/tv-shows/{TVShowDetails.Id}")" class="btn btn-primary">Back</a>
</div>