<a href="#">
    <li class="list-group-item d-flex justify-content-between align-items-center mb-3 rounded">
        #@Episode.Episode_Number @Episode.Name
        <img src="@Episode.Still_Path" class="img-fluid rounded" />
    </li>
</a>