<div id="tv-popular">
    <h3 class="mb-3">@HeaderText</h3>
    <div class="row flex-row flex-nowrap overflow-auto">
        @foreach (var tvShow in TVShows)
        {
            <DisplayTV TVShow="tvShow" />
        }
    </div>
</div>