@page "/tv-shows/popular" 

<div id="tv-popular">
    <h3 class="mb-3 pt-3">Popular TV Shows</h3>
    <div class="row">
        @foreach (var tvShow in Results)
        {
            <DisplayTV TVShow="tvShow" />
        }
    </div>
    <Pagination Page="@Page" TotalPages="@TotalPages" OnPageChanged="HandlePageChanged" />
</div>