@page "/tv-shows/top-rated"

<div id="tv-top-rated">
    <h1>Top Rated TV Shows</h1>
    <hr />
    <div class="row">
        @foreach (var tvShow in Results)
        {
            <DisplayTV TVShow="tvShow" />
        }
    </div>
    <Pagination Page="@Page" TotalPages="@TotalPages" OnPageChanged="HandlePageChanged" />
</div>