@page "/"

<div id="movies">
    <h1>Movies</h1>
    <hr />
    @if (!string.IsNullOrWhiteSpace(SearchService.Query))
    {
        <div id="movies-search">
            <h3 class="mb-3">Results</h3>
            @if (SearchMovies == null)
            {
                <div>Loading...</div>
            }

            <div class="row">
                @foreach (var movie in SearchMovies)
                {
                    <DisplayMovie Movie="@movie" ShowTitle="false" />
                }
            </div>
        </div>
    }
    else
    {
        <PopularMovies />
        <TopRatedMovies />
        <UpcomingMovies />
    }
</div>