@page "/movies/popular" 

<div id="movies-popular">
    <h1>Popular Movies</h1>
    <hr />
    <div class="row">
        @foreach (var movie in Results)
        {
            <DisplayMovie Movie="@movie" />
        }
    </div>
    <Pagination Page="@Page" TotalPages="@TotalPages" OnPageChanged="HandlePageChanged" />
</div>