@page "/movies/popular" 

<div id="movies-popular">
    <h3 class="mb-3 pt-3">Popular Movies</h3>
    <div class="row">
        @foreach (var movie in Results)
        {
            <DisplayMovie Movie="@movie" />
        }
    </div>
    <Pagination Page="@Page" TotalPages="@TotalPages" OnPageChanged="HandlePageChanged" />
</div>