@page "/movies/upcoming" 

<div id="movies-upcoming">
    <h1>Upcoming Movies</h1>
    <hr />
    <div class="row">
        @foreach (var movie in Results)
        {
            <DisplayMovie Movie="@movie" ShowTitle="false" />
        }
    </div>
    <Pagination Page="@Page" TotalPages="@TotalPages" OnPageChanged="HandlePageChanged" />
</div>