<div id="movies-upcoming">
    <h3 class="mb-3">Upcoming</h3>
    @if (Movies == null)
    {
        <div>Loading...</div>
    }

    <div class="row flex-row flex-nowrap overflow-auto">
        @foreach (var movie in Movies)
        {
            <div class="col-sm-2 mb-3">
                <a href="@($"/movie/{movie.Id}")">
                    <div class="card card-block h-100">
                        <img class="card-img-top img-fluid" src="@movie.ImageUrl" />
                    </div>
                </a>
            </div>
        }
    </div>
</div>