<div id="movies-upcoming">
    <h3>Upcoming</h3>
    @if (Movies == null)
    {
        <div>Loading...</div>
    }

    <div class="row">
        @foreach (var movie in Movies)
        {
            <div class="col-sm-3">
                <DisplayMovie Movie="@movie" />
            </div>
        }
    </div>
</div>