#home h1 {
    margin-top: 1rem;
}

#movie-details #cast a {
    color: #212529; 
    text-decoration: none;
}

#movie-details #cast p {
    margin-bottom: 0;
}

#movie-details #movies-similar a {
    color: #212529;
    text-decoration: none;
}

#movie-details #movies-similar p {
    margin-bottom: 0;
}

#movies-popular {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#movies-top-rated {
    margin-bottom: 2rem;
}

#movies-upcoming {
    margin-bottom: 2rem;
}

#person-movies a {
    color: #212529;
    text-decoration: none;
}

#search button {
    padding: 0.7rem 1.8rem 0.7rem 1.8rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
}