:root {
    --light-grey: #fafafa;
    --orange: rgb(255, 108, 55);
    --dark: rgb(28, 39, 43);
    --light-dark: rgb(36, 51, 56);
    --white: rgb(255, 255, 255);
}

body {
    background-color: var(--light-grey) !important;
    font-family: 'Roboto', sans-serif !important;
    color: var(--dark) !important;
}

.media-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#nav {
    background-color: var(--dark) !important;
}

#nav .brand {
    color: var(--orange) !important;
}

#nav a:not(.dropdown-item) {
    color: var(--white);
}

#nav .nav-link:hover {
    color: var(--orange) !important;
}

#nav .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: var(--orange);
}

#footer {
    margin-top: 2rem;
}

#footer {
    background-color: var(--dark) !important;
    color: var(--white);
}

#home h1 {
    margin-top: 1rem;
}

#home a {
    color: var(--dark);
    text-decoration: none;
}

#home a:hover {
    color: var(--orange);
    cursor: pointer;
}