#lists {
    padding-top: 1rem;
}

#lists .list-group {
    margin-bottom: 1rem;
}

#lists .list-group:last-child {
    margin-bottom: 1rem;
}

#create-list .btn-create {
    background-color: var(--orange) !important;
    color: var(--white) !important;
}

#list-details {
    padding-top: 1rem;
}

#edit-list .btn-edit {
    background-color: var(--orange) !important;
    color: var(--white) !important;
}

#create-list .validation-message,
#edit-list .validation-message {
    margin-top: 0.5rem;
    font-size: 14px;
}

#create-list .form-group,
#edit-list .form-group {
    margin-bottom: 1rem;
}

#create-list .form-group:last-child,
#edit-list .form-group:last-child {
    margin-bottom: 0rem;
}