#movies {
    padding-top: 1rem;
}

#movies a {
    color: var(--dark);
    text-decoration: none;
}

#movies a:hover {
    color: var(--orange);
    cursor: pointer;
}

#movie-details {
    padding-top: 1rem;
    margin-bottom: 1rem;
}

#movie-details .badge {
    font-weight: normal !important;
    padding: 0.7rem;
}

#movie-details .card-img-top {
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
}

#movie-details #cast {
    margin-top: 2rem;
}

#movie-details #similar {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#movie-details #cast a {
    color: #212529;
    text-decoration: none;
}

#movie-details #cast p {
    margin-bottom: 0;
}

#movie-details #similar a {
    color: #212529;
    text-decoration: none;
}

#movie-details #similar p {
    margin-bottom: 0;
}

#movies-popular a {
    color: var(--dark);
    text-decoration: none;
}

#movies-popular a:hover {
    color: var(--orange);
    cursor: pointer;
}

#movies-upcoming a {
    color: var(--dark);
    text-decoration: none;
}

#movies-upcoming a:hover {
    color: var(--orange);
    cursor: pointer;
}

#movies-top-rated a {
    color: var(--dark);
    text-decoration: none;
}

#movies-top-rated a:hover {
    color: var(--orange);
    cursor: pointer;
}
