#movies h1 {
    margin-top: 1rem;
}

#movies a {
    color: var(--dark);
    text-decoration: none;
}

#movies a:hover {
    color: var(--orange);
    cursor: pointer;
}

#movie-details {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#movie-details #cast {
    margin-top: 2rem;
}

#movie-details #similar {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#movie-details #cast a {
    color: #212529;
    text-decoration: none;
}

#movie-details #cast p {
    margin-bottom: 0;
}

#movie-details #similar a {
    color: #212529;
    text-decoration: none;
}

#movie-details #similar p {
    margin-bottom: 0;
}

#movies-popular h1 {
    margin-top: 1rem;
}

#movies-upcoming h1 {
    margin-top: 1rem;
}

#movies-top-rated h1 {
    margin-top: 1rem;
}

#movies-popular a:hover {
    cursor: pointer;
}

