:root {
    --orange-interact: rgb(212, 70, 19);
    --orange: rgb(255, 108, 55);
    --dark: rgb(28, 39, 43);
    --light-dark: rgb(36, 51, 56);
    --white: rgb(255, 255, 255);
}

#recommendations-movie h1 {
    margin-bottom: 1rem;
}

#recommendations-tv h1 {
    margin-bottom: 1rem;
}

#recommendations-movie a {
    color: var(--dark);
    text-decoration: none;
}

#recommendations-movie a:hover {
    color: var(--orange);
    cursor: pointer;
}

#recommendations-filter {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#recommendations-filter .badge {
    font-weight: normal;
    background-color: var(--dark) !important;
    padding: 0.6rem;
    margin-top: 1rem;
    margin-right: 0.4rem;
}

#recommendations-filter .badge:last-child {
    margin-top: 0rem;
    margin-right: 0rem;
}

#recommendations-filter .badge:hover {
    cursor: pointer;
}

#recommendations-movie a:hover {
    cursor: pointer;
}

#recommendations-movie .btn {
    background-color: var(--orange);
    color: var(--white);
}

#recommendations-movie .btn:hover {
    cursor: pointer;
    background-color: var(--orange-interact);
}