:root {
    --orange: rgb(255, 108, 55);
    --dark: rgb(28, 39, 43);
    --white: rgb(255, 255, 255);
}

div::-webkit-scrollbar {
    width: 10px;
}

div::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
}
