:root {
    --light-grey: #fafafa;
    --orange: rgb(255, 108, 55);
    --dark: rgb(28, 39, 43);
    --light-dark: rgb(36, 51, 56);
    --white: rgb(255, 255, 255);
}

#search-list {
    margin-bottom: 1rem;
}

#search-list a {
    color: var(--dark);
    text-decoration: none;
}

#search-list a:hover {
    color: var(--orange);
    cursor: pointer;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#search-list .btn {
    border: 1px solid var(--orange) !important;
    color: var(--orange) !important;
    display: block;
    margin-top: 0.5rem;
    outline: none !important;
}

#search-list .btn:hover {
    color: var(--white) !important;
    background-color: var(--orange);
}

#search-list .btn:first-child {
    margin-top: 0rem;
}

#search-list .btn.active, .btn:active {
    color: var(--white) !important;
    background-color: var(--orange);
}