:root {
    --light-grey: #fafafa;
    --orange: rgb(255, 108, 55);
    --dark: rgb(28, 39, 43);
    --light-dark: rgb(36, 51, 56);
    --white: rgb(255, 255, 255);
}

#search .btn {
    background-color: var(--orange) !important;
    color: var(--white) !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#search {
    outline: none !important;
}

#search-list {
    padding-top: 1rem;
}

#search-list a {
    color: var(--dark);
    text-decoration: none;
}

#search-list a:hover {
    color: var(--orange);
    cursor: pointer;
}

#search-list .btn {
    border: 1px solid var(--orange) !important;
    color: var(--orange) !important;
    display: block;
    margin-top: 0.5rem;
    outline: none !important;
}

#search-list .btn:hover {
    color: var(--white) !important;
    background-color: var(--orange);
}

#search-list .btn:first-child {
    margin-top: 0rem;
}

#search-list .btn.active, .btn:active {
    color: var(--white) !important;
    background-color: var(--orange);
}