#tv-top-rated {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#tv-popular {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#tv-top-rated a {
    color: #212529;
    text-decoration: none;
}

#tv-on-the-air {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#tv-details {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#tv-details #cast a {
    color: #212529;
    text-decoration: none;
}

#tv-details #cast p {
    margin-bottom: 0;
}

#tv-details #seasons a {
    color: #212529;
    text-decoration: none;
}

#season-details #episodes a {
    color: #212529;
    text-decoration: none;
}

#season-details-table .list-group a {
    color: #212529;
    text-decoration: none;
}

#season-details-table a:hover {
    cursor: pointer;
}

#season-details-tables .image-wrapper {
    max-width: 100px;
}