:root {
    --light-grey: #f3f3f3;
    --orange: rgb(255, 108, 55);
    --dark: rgb(28, 39, 43);
    --light-dark: rgb(36, 51, 56);
    --white: rgb(255, 255, 255);
}

#user-profile {
    padding-top: 1rem;
}

#user-profile .btn {
    background-color: var(--orange) !important;
    color: var(--white) !important;
}

#user-profile .user-profile-btn-delete {
    background-color: var(--dark) !important;
    color: var(--white) !important;
}

#login-user .btn-login {
    background-color: var(--orange) !important;
    color: var(--white) !important;
}

#edit-user .btn-edit {
    background-color: var(--orange) !important;
    color: var(--white) !important;
}

#register-user .btn-register {
    background-color: var(--orange) !important;
    color: var(--white) !important;
}

.btn-cancel {
    background-color: var(--dark) !important;
    color: var(--white) !important;
}

#login-user .validation-message,
#register-user .validation-message
#edit-user .validation-message {
    margin-top: 0.5rem;
    font-size: 14px;
}

#login-user .form-group, 
#register-user .form-group,
#edit-user .form-group {
    margin-bottom: 1rem;
}

#login-user .form-group:last-child, 
#register-user .form-group:last-child,
#edit-user .form-group:last-child {
    margin-bottom: 0rem;
}