@page "/discover"

<div id="discover">
    <h1>Discover</h1>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <SortingDiscover OnSortSelection="HandleSortSelection" />
            <FilterDiscover OnMediaSelection="HandleMediaSelection" />
            <button class="btn btn-primary" @onclick="HandleClick">Search</button>
        </div>
        <div class="col-sm-9">
            <ul class="list-group">
                @if (ShowMovieResults)
                {
                    @foreach (var movie in MovieResults)
                    {
                        <DisplayMovieDiscover Movie="movie" />

                    }
                }
                else
                {
                    @foreach (var tvShow in TVResults)
                    {
                        <DisplayTVDiscover TVShow="tvShow" />

                    }
                }
            </ul>
            @if (TotalPages is not 0)
            {
                <PaginationDiscover Page="@Page" TotalPages="@TotalPages" OnPageChanged="HandlePageChanged" />
            }
        </div>
    </div>
</div>