<a href="@($"/movie/{Movie.Id}")">
    <li class="list-group-item d-flex justify-content-between align-items-center mb-3 rounded" id="search-list-item">
        @Movie.Title
        <div class="image-wrapper">
            <img src="@Movie.Poster_Path" class="img-fluid rounded" />
        </div>
    </li>
</a>