<div id="discover-filter">
    <div class="card">
        <h5 class="card-header">Filter</h5>
        <div class="p-3">
            @foreach (var option in MediaTypeOptions)
            {
                <div class="form-check">
                    <input type="radio"
                           value="@option"
                           checked="@(SelectedMediaType == option.Value)"
                           class="form-check-input"
                           @onchange="@(async () => await HandleSelect(option.Value))" />
                    <label class="form-check-label">@option.Text</label>
                </div>
            }
        </div>
    </div>
</div>