<p>Page 1 of 500</p>
<nav>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link">Next</a>
        </li>
    </ul>
</nav>