<div id="discover-sorting">
    <div class="card">
        <h5 class="card-header">Sort</h5>
        <div class="p-3">
            <select class="form-select" @onchange="@(async (e) => await OnSortSelection.InvokeAsync(e.Value.ToString()))">
                @foreach (var option in SortingOptions)
                {
                    <option value="@option.Value">@option.Text</option>
                }
            </select>
        </div>
    </div>
</div>