<div id="recommendations-year">
    <p class="mb-1">Year</p>
    <select class="form-select form-select-sm" @onchange="@(async (e) => await OnYearSelection.InvokeAsync(e.Value.ToString()))">
        <option value="0" selected disabled>Choose year</option>
        @foreach (var option in YearOptions)
        {
            <option value="@option">@option</option>
        }
    </select>
</div>