<div id="delete-list-confirmation">
    <p>Are you sure you want to delete this list?</p>
    <button class="btn btn-danger" @onclick="HandleDeleteClick">Delete</button>
    <button class="btn btn-cancel" @onclick="HandleCancelAsync">Cancel</button>
</div>