<div class="d-block mt-3 w-50">
    <h5 class="card-title">Add to list</h5>
    <select class="form-select form-select-sm">
        <option selected disabled>Choose list</option>
        <option>Top Thriller Movies List</option>
        <option>Best Oscar Nominations List</option>
        <option>Autumn Halloween Horror List</option>
    </select>
    <button class="btn btn-orange mt-3">Add</button>
</div>