<div class="d-block mt-3 w-50">
    <h5 class="card-title">Add to list</h5>
    @if (UserLists.Count() is 0)
    {
        <p class="mt-1">You have not created any lists yet.</p>
    }
    else
    {
        <select class="form-select form-select-sm">
            <option selected disabled>Choose list</option>
            @foreach (var list in UserLists)
            {
                <option value="@list.Id">@list.Name</option>
            }
        </select>
        <button class="btn btn-orange mt-3">Add</button>
    }
</div>