@page "/user/profile/{userId}"

<div id="user-profile">
    <h3 class="mb-3 pt-3">Your profile</h3>
    <p>Name: @User.FirstName @User.LastName</p>
    <p>Email: @User.Email</p>
    <p>Created: @User.Created.ToShortDateString()</p>
</div>