@page "/user/profile/{userId}"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div id="user-profile">
    <AuthorizeView>
        <Authorized>
            <p>The user is authenticated.</p>
        </Authorized>
        <NotAuthorized>
            <p>The user is not authenticated.</p>
        </NotAuthorized>
    </AuthorizeView>
</div>