<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
        <NavLink class="navbar-brand" href="/">Movie Application</NavLink>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/movies">Movies</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/tv-shows">TV</NavLink>
                </li>
            </ul>
            <Search />
        </div>
    </div>
</nav>