<form class="form-inline">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="icon-wrapper"><i class="fas fa-search"></i></span>
        </div>
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </div>
</form>