<div id="search">
    <form class="form-inline">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            <div class="input-group-prepend">
                <button class="input-group-text" id="search-button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
</div>