<div id="search">
    <div class="input-group">
        <input @bind="@SearchQuery"
               @bind:event="oninput"
               @onkeyup="() => Console.WriteLine(SearchQuery)"
               type="search"
               class="form-control"
               placeholder="Search...">
        <div class="input-group-prepend">
            <button class="input-group-text" @onclick="() => Console.WriteLine(SearchQuery)">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</div>