<div id="search">
    <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input @bind-value="SearchState.SearchQuery"
               @bind-value:event="oninput"
               @onkeyup="() => SearchState.SetSearchQuery(SearchState.SearchQuery)"
               @onfocus="() => Placeholder = string.Empty"
               @onblur="@(e => Placeholder = "Search...")"
               required
               type="text"
               class="form-control"
               placeholder="@Placeholder">
    </div>
</div>