<div class="col-sm-2 mb-3">
    <a href="@($"/person/{Person.Id}")">
        <div class="card card-block h-100">
            <img class="card-img-top img-fluid" src="@Person.ImageUrl" />
            <div class="card-body">
                <p class="card-text text-center"><strong>@Person.Name</strong></p>
                <p class="text-center">@Person.Character</p>
            </div>
        </div>
    </a>
</div>